body{
    font-family: Poppins;
}
*{
    transition: .3s all ease;
}
a:hover{
    color:#21B573;
    text-decoration: none;
}
.cool-bg{
    background-color: #F0FFF0;
}
.text-magenda{
    color: #413960;;
}
.btn-success{
    background-color: #21B573 !important;
    border-color: #21B573 !important;
}
.text-success{
    color: #21B573 !important;
}
.btn-rounded{
    border-radius: 2rem;
    padding-right: 1.5em;
    padding-left: 1.5em;
}
p{
    line-height: 2em;
    font-weight: normal;
    font-size: 16px;
    color: #585859;
}
/* ======== Navbar ======== */
.navbar-brand img{
    height: 60px;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 30px;
    color: #000000;
}
/* ======== services ======== */
.single-service{
    border-radius: 10px;
}
.single-service img{
    height: 80px;
}
.single-service:hover{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
/* ========= Courses ======== */
.courses .course-info img{
    height: 24px;
}
.courses .card{
    padding: 12px;
    border:0 !important;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
.courses .course-info p{
    margin-bottom: 0;
}
/* ========= footer ======== */
footer{
    background-color:#282531;
}
footer a{
    color: #FFFFFF;
}
footer li{
    padding-top: 10px;
}
.copy-right p{
    color: #CDCDCD;
}
@media (max-width:777px){
    .testimonial img{
        max-width: 140px;
    }
}

